
/* STYLE-KEYS{
    dark-background-color: #1e1e26ff;
    hover-color: #fc9077ff;
    button-background-color: #f3613cff;
    number-background-color: #fb5e3fff;
} */

*{
    font-family: 'Be Vietnam', sans-serif;
    background-color: #E5E5E5;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* HEADER */

header {
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-bar-container {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 23.875rem;
    color: #242E52;
}

.nav-bar-link {
    color: #242E52;
    text-decoration: none;
    font-size: 13px;
}

.nav-bar-link:hover {
    color: #B3B2B7;
}

.menu-icon-container {
    display: none;
}

/* BUTTONS */
.nav-bar-button {
    background-color: #F3603B;
    color: #fff;
    padding: 10px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    font-size: 13.1806px;
    line-height: 19px;
    width: 134px;
    height: 44px;
}

.nav-bar-button:hover {    
    background-color: #fc9077ff;
    color: #181F39;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
}

.nav-bar-button:active {    
    background-color: rgb(211, 55, 16);
    color: #181F39;
    box-shadow: 0px 6px 9px rgba(211, 55, 16, 0.25);
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-info {    
    line-height: 157.1%;
/* or 26px */
    display: flex;
    align-items: center;
    color: #000000;
}

/* TITLES */

h1 {
    font-size: 3.625rem;
    line-height: 4rem;
    display: flex;
    align-items: center;
    letter-spacing: -0.035em;
    color: #232C50;
}

h2 {
    color: #232851;
    font-size: 2.25rem;
}

/* HOME */

.home-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.home-item {
    margin: 1rem;
}

/* ABOUT US */

.about-us-conteiner {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem 0;
    height: 34.3125rem;
}

.about-us-content {
    width: 40%;
    display: flex;    
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.about-us-content .about-us-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;
    padding-top: 0;
}

.text-info {
    margin-top: 2.25rem;
}

.about-us-content .about-us-characteristics {
    line-height: 1.625rem;
}

.about-us-characteristics-title {
    letter-spacing: -0.015em;
    color: #323851;
    display: flex;
    align-items: center;
}

#title-1::before {
    content: url(/img/title-1.svg);
    width: 4.3125rem;
    height: 2.6875rem;
    margin-left: -7.1875rem;
    padding-right: 2.7rem;
}

#title-2::before {
    content: url(/img/title-2.svg);
    width: 4.3125rem;
    height: 2.6875rem;
    margin-left: -7.1875rem;
    padding-right: 2.7rem;
}

#title-3::before {
    content: url(/img/title-3.svg);
    width: 4.3125rem;
    height: 2.6875rem;
    margin-left: -7.1875rem;
    padding-right: 2.7rem;
}

.text-description {
    margin-top: 1.125rem;
    margin-bottom: 2.625rem;
    line-height: 23px;
    letter-spacing: -0.015em;
    color: #B3B2B7;
}