
/*  COLORS:
    dark-background-color: #1e1e26ff;
    hover-color: #fc9077ff;
    color-background-color: #f3613cff;
    number-background-color: #fb5e3fff; */

*{
    font-family: 'Be Vietnam', sans-serif;
    background-color: #E5E5E5;
}
