
/* STYLE-KEYS{
    dark-background-color: #1e1e26ff;
    hover-color: #fc9077ff;
    button-background-color: #f3613cff;
    number-background-color: #fb5e3fff;
} */

* {
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* HEADER */

header {
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hamburguer-menu {
    display: none;
}

.nav-bar-container {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 23.875rem;
    color: #242E52;
}

.navbar__toggle {
    display: none;
}

.nav-bar-link {
    color: #242E52;
    text-decoration: none;
    font-size: 0.8125rem;
}

.nav-bar-link:hover {
    color: #B3B2B7;
}

/* BUTTONS */
.nav-bar-button {
    background-color: #F3603B;
    color: #fff;
    padding: 0.625rem;
    box-shadow: 0rem .25rem 0.4375rem rgba(0, 0, 0, 0.25);
    border-radius: 3.125rem;
    border: none;
    font-size: 0.8237875rem;
    line-height: 1.1875rem;
    width: 8.375rem;
    height: 2.75rem;
}

.nav-bar-button:hover {    
    background-color: #fc9077ff;
    color: #181F39;
    box-shadow: 0rem 6px 9px rgba(0, 0, 0, 0.25);
}

.nav-bar-button:active {    
    background-color: #FBC0B2;
    color: #181F39;
    box-shadow: 0rem 6px 9px rgba(211, 55, 16, 0.25);
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/img/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
}

.text-info {    
    line-height: 1.625rem;
    display: flex;
    align-items: center;
    color: #B3B2B7;

}

/* TITLES */

h1 {
    font-size: 3.625rem;
    line-height: 4rem;
    display: flex;
    align-items: center;
    letter-spacing: -0.035em;
    color: #232C50;
}

h2 {
    color: #232851;
    font-size: 2.25rem;
}

/* HOME */

.home-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.home-item {
    margin: 1rem;
}

/* ABOUT US */

.about-us-container {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem 0;
    height: 34.3125rem;
}

.about-us-content {
    width: 40%;
    display: flex;    
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.about-us-content .about-us-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;
    padding-top: 0;
}

.text-info {
    margin-top: 2.25rem;
}

.about-us-content .about-us-characteristics {
    line-height: 1.625rem;
}

.about-us-characteristics-title {
    letter-spacing: -0.015em;
    color: #323851;
    display: flex;
    align-items: center;
}

#title-1::before {
    content: url(/img/title-1.svg);
    width: 4.3125rem;
    height: 2.6875rem;
    margin-left: -7.187rem;
    padding-right: 2.7rem;
}

#title-2::before {
    content: url(/img/title-2.svg);
    width: 4.3125rem;
    height: 2.6875rem;
    margin-left: -7.187rem;
    padding-right: 2.7rem;
}

#title-3::before {
    content: url(/img/title-3.svg);
    width: 4.3125rem;
    height: 2.6875rem;
    margin-left: -7.187rem;
    padding-right: 2.7rem;
}

.text-description {
    margin-top: 1.125rem;
    margin-bottom: 2.625rem;
    line-height: 1.4375rem;
    letter-spacing: -0.015em;
    color: #B3B2B7;

}

/* REVIEWS */

.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
    width: 100vw;
    height: 32rem;
}

.cards-container {
    display: flex;
    flex-direction: row;
}

.review-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15.875rem;
    width: 24.375rem;
}

.user-name {
    margin: 1.3125rem;
}

.text-review {
    display: flex;
    justify-content: center;
    line-height: 1.5625rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9C1;
    padding: 0 1.15625rem;
}

.review-circles-container {
    display: none;
}

#review-button {
    margin-top: 5.25rem;
}

/* CLOSE FRAGMENT */

#close-fragment{
    margin-top: 11.25rem;
}

.close-fragment-container {
    width: 100vw;
    height: 14rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f3613cff;
}

.close-fragment-title {
    background-color: #f3613cff;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 27.375rem;
}

#close-fragment-button {
    background-color: #fff;
    color: #F3603B;
}

#close-fragment-button:hover {
    background-color: #D5D5D7;
    color: #D3350D;
    box-shadow: 0rem 6px 9px rgba(0, 0, 0, 0.25);
}

#close-fragment-button:active {    
    background-color: #ACACAF;
    color: #862209;
    box-shadow: 0rem 6px 9px rgba(0, 0, 0, 0.30);
}

/* FOOTER */

.footer-container {
    background-color: #1E1E26;
    color: #fff;
}

.footer-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 15.4375rem;
}

.footer-content {
    height: 100%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content-social {
    margin: auto 0;
}

.social-icons {
    width: 9.618125rem;
    display: flex;
    justify-content: space-between;
}

.footer-list-container {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
}

.footer-list {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-list li {
    padding: 0.8rem;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    line-height: 1.4375rem;
    margin-top: 1rem;
}

.footer-link:hover {
    color: #F3603B;
}

/* FORM */

label , span {
    display: none;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 17.050625rem;
}

.form-email{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem;
    position: static;
    width: 12.5625rem;
    height: 2.625rem;
    background: #FFFFFF;
    border-radius: 3.125rem;
    border: #fff;
}

.form-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    width: 3.9375rem;
    height: 2.625rem;
    background: #F3603B;
    border-radius: 3.125rem;
    color: #fff;
    border: none;
}

.form-button:hover {    
    background-color: #fc9077ff;
    color: #181F39;
    box-shadow: 0rem 6px 9px rgba(0, 0, 0, 0.25);
}

.form-button:active {    
    background-color: #FBC0B2;
    color: #181F39;
    box-shadow: 0rem 6px 9px rgba(211, 55, 16, 0.25);
}

.text-rights {
    right: 10.305625rem;
    bottom: 3.308125rem;
    color: #ACACAF;
}


/* ================================================================= */ 
/* MOBILE */


@media screen and (max-width: 834px) {
    /* Puse 834px porque es el momemnto en que empieza a "romperse" la versión desktop,
    pero está codeado para una pantalla con un width de 375px */

    /* NAV BAR */

    * {
        font-family: 'Be Vietnam Pro', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        font-size: 15px;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .header-container{
        display: flex;
        align-items: space-between;
        justify-content: center;
    }

    .nav-bar-container {
        display: none;
    }

    .navbar__btn {
        display: none;
    }

    .hamburguer-menu {
        display: inline;
        max-width: max-content;   
    }

    /* HOME */

    
    .home-container {
        width: 90vw;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home-image-container {
        display: flex;
        align-content: stretch;
    }

    .home-image {
        width: 90%;
    }

    .text-info {
        color: #B3B2B7;
    }

    h1 {
        width: 90vw;
        font-size: 2.5rem;
        letter-spacing: 0;
        line-height: 1em;
    }

    .home-content {      
        display: flex;
        align-items: center; 
        justify-content: center;
        text-align: center;
    }

    /* ABOUT US */

    .about-us-container {
        width: 90vw;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .about-us-content {
        width: 100%;
        display: flex;
        align-items: center; 
        justify-content: center;
        text-align: center;
    }

    .about-us-description {
        margin-bottom: 2rem;
    }

    .about-us-characteristics-title {
        letter-spacing: -0.015em;
        color: #323851;
        display: flex;
        align-items: center;
        background-color: #FEF0EC;
        padding-left: 6.5rem;
        font-weight: bold;
    }
    
    #title-1::before {
        content: url(/img/title-1.svg);
        width: 4.3125rem;
        height: 2.6875rem;
        /* margin-left: -7.187rem; */
        padding-right: 2.7rem;
    }
    
    #title-2::before {
        content: url(/img/title-2.svg);
        width: 4.3125rem;
        height: 2.6875rem;
        margin-left: -7.187rem;
        padding-right: 2.7rem;
    }
    
    #title-3::before {
        content: url(/img/title-3.svg);
        width: 4.3125rem;
        height: 2.6875rem;
        margin-left: -7.187rem;
        padding-right: 2.7rem;
    }
    
    /* REVIEWS */
    
    .reviews-container {
        height: 100vh;
    }

    .card-anisha , .card-richard {
        display: none;
    }

    .review-circles-container {
        width: max-content;
        display: flex;
        flex-direction: row;
    }

    .review-circle {
        font-size: 0.5rem;
        padding: 0.25rem;
        color: #f3613cff;
    }

    #review-button {
        margin-top: -5rem;
    }

    /* CLOSE FRAGMENT */

    .close-fragment-container {
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .close-fragment-title {
        width: 100vw;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 20rem;
        font-size: 2.5rem;
        line-height: 1.5em;
        padding: 0 2rem;
        font-weight: bold;
    }

    #close-fragment-button {
        margin: -2.5rem 0 3rem;
        padding-bottom: 2rem;
        font-weight: bold;
    }

    /* FOOTER */

    .footer-content-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: max-content;
    }

    .footer-content {
        display: flex;
        margin: 1rem;
    }

    form {
        width: 85vw;
        margin-top: 1rem;
        margin-left: -7.187rem;
    }

    .form-email {
        width: 15rem;
    }

    .form-button {
        width: 5.5rem;
    }

    .footer-list-container {
        width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-social {
        flex-direction: column-reverse;
        }

    .footer-content-social {
        width: 85vw;
        margin-left: -7.187rem;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .social-icons {
        justify-content: space-between;
        flex-direction: row;
    }

    .footer-icon {
        font-size: 2rem;
    }

    .text-rights {
        text-align: center;
        margin-bottom: 1rem;
    }
}